:root {
    --background-color: white;
    --text-color: black;
    --primary-color: green;
    --header-bg: black;
}

/* dark theme */
[data-theme="dark"] {
    --background-color: black;
    --text-color: white;
    --primary-color: yellow;
    --header-bg: black;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background o.3s, color 0.3s;
}
