<div class="form-container">
  <form action="https://formspree.io/f/xjkybvnd" method="POST">
    <label>
      Your email:
      <input type="email" name="email" />
    </label>
    <label>
      Your message:
      <textarea name="message"></textarea>
    </label>
    <!-- your other form fields go here -->
    <button type="submit">Send</button>
  </form>
</div>
<style>
  .form-container {
    display: flex;
    width: 50%;
    height: auto;
    margin-left: 25%;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }

  label {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  input {
    height: 30px;
    background: none;
    border-radius: 10px;
    border-style: none;
    border: 2px solid gray;
  }

  textarea {
    height: auto;
    resize: both;
    overflow: auto;
    background: none;
    min-height: 100px;
    border-radius: 10px;
    border-style: none;
    border: 2px solid gray;
  }

  button {
    width: 50%;
    height: 30px;
    font-weight: bold;
    background-color: green;
    border-radius: 10px;
    color: white;
  }

  @media (max-width: 767px) {
    .form-container {
      width: 90%;
      margin-left: 5%;
    }
  }
</style>
