<form
  action="https://formspree.io/f/xjkybvnd"
  method="POST"
  class="form-container"
>
  <label>
    Your email:
    <input type="email" name="email" />
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>
  <!-- your other form fields go here -->
  <button type="submit">Send</button>
</form>

<style>
  .form-container {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 10px;
    width: 60%;
  }

  button {
    width: auto;
  }
</style>
