<footer class="site-footer">
  <div class="footer-container">
    <nav>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="/src/pages/about.html">About</a>
        </li>
        <li>
          <a href="/src/pages/blog.html">Blog</a>
        </li>
      </ul>
    </nav>
    <nav class="social-links">
      <a href="google.com">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="medium.com">
        <i class="fa-brands fa-medium"></i>
      </a>
    </nav>
  </div>
</footer>
