<header class="site-header">
  <div class="header-container">
    <div class="logo">
      <a href="../../index.html">Martin's Stash</a>
    </div>
    <nav>
      <ul>
        <li>
          <a href="../../index.html">Home</a>
        </li>
        <li>
          <a href="src/pages/about.html">About</a>
        </li>
        <li>
          <a href="src/pages/blog.html">Blog</a>
        </li>
        <!--<li>-->
        <!--  <a href="src/pages/cms.html">CMS</a>-->
        <!--</li>-->
      </ul>
    </nav>
    <div>
      <!--<button id="themeToggle">Toggle Theme</button>-->
    </div>
  </div>
</header>
